header {
  width: 100%;
  height: 60px;
  background-color: #a9fa87;
  display: flex;
 
  border: 1px solid black;
  margin: 0;
  padding: 0;
}
img{
  height: 50px;
  padding: 10px;
  
}
.part1{
  display: flex;
  align-items: center;
}
.part2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
.part3{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-family: 'PT Serif', serif;
}
.part4{
  display: flex;
  
  align-items: center;
  justify-content: right;
  text-align: center;
  font-size: 10px;
}
.part1, .part2, .part3, .part4{
  flex-grow: 1;
}
a{
  text-decoration: none;
  color:white;
}
.part2 a:hover,
.part3 a:hover {
    color: #e2e8dc;
}
.part4 a:hover{
  color:#bcd69c ;
}
.links {
  display: flex;
  flex-direction: column; 
  margin-right: 20px;
}

.main {
display: flex;

}


iframe {
border: 2px solid black;
}


.map-section {
  flex: 4; /* 40% */
  padding: 20px; 
  margin-right: 10px; 
}

.content-section {
  flex: 6; /* 60% */
  padding: 20px; 
  overflow-x: auto; 
}

.reservations table {
  border-collapse: collapse;
  width: 80%;
}

.reservations th, .reservations td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.reservations th {
  background-color: #f2f2f2;
}

.reservations td {
  background-color: #ffffff;
}

.reservations th:first-child,
.reservations td:first-child {
  text-align: center;
}

.reservations td:first-child {
  min-width: 60px; 
}
button {
margin-top: 20px;
}
.reservations {
position: relative; /* Nowy dodany styl */
}