{% extends 'basic.html' %}
{% block head %} 
<link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}"/>
{% endblock %}
{% block body %}

<header>
    <div class="part1"><img src="{{ url_for('static',filename='obrazy/asdw.png')}}"/></div>
    <div class="part2"><a href="">Obiekty</a></div>
    <div class="part3"><a href="">Moje Rezerwacje</a></div>
    <div class="part4">
        <div class="image-container">
            <img src="{{ url_for('static',filename='obrazy/prof.png')}}" alt="Obrazek">
        </div>
        <div class="links">
            <a href="#">Zaloguj</a>
            <a href="{{ url_for('register') }}">Zarejestruj</a>
        </div>

    </div>
</header>
<div class="main">
    <h1>Witaj w naszej aplikacji!<br>Zarezerwuj termin juz dziś!</h1>
</div>

{% endblock %}