{% extends 'basic.html' %}
{% block head %} 
<link rel="stylesheet" href="{{ url_for('static',filename='details.css')}}"/>
{% endblock %}
{% block body %}
<header>
    <div class="part1"><img src="{{ url_for('static',filename='obrazy/asdw.png')}}"/></div>
    <div class="part2"><a href="{{ url_for('obiekty') }}">Obiekty</a></div>
    <div class="part3"><a href="">Moje Rezerwacje</a></div>
    <div class="part4">
        <div class="image-container">
            <img src="{{ url_for('static',filename='obrazy/prof.png')}}" alt="Obrazek">
        </div>
        <div class="links">
            <a href="{{ url_for('wyloguj') }}">Wyloguj</a>
        </div>

    </div>
</header>
<div class="main">
    <div class="map-section">
        <iframe src="{{ obiekt.link }}" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="content-section">
        <div class="week-selector">
            <form action="{{ url_for('obiekt_details', id=obiekt.id_o) }}" method="GET">
                <select id="week-selector" name="week_offset">
                    <option value="0">Bieżący tydzień</option>
                    <option value="1">Następny tydzień</option>
                    <option value="2">Za dwa tygodnie</option>
                </select>
                <button type="submit">Wybierz</button>
            </form>
        </div>
        <div class="reservations">
            <table>
                <thead>
                    <tr>
                        {% for date, reservations in reservations.items() %}
                        <th>
                            <h2>{{ date }}</h2>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for date, reservations in reservations.items() %}
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Data</th>
                                        <th>Godzina początkowa</th>
                                        <th>Godzina zakończenia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for reservation in reservations %}
                                    <tr>
                                        <td>{{ reservation.data }}</td>
                                        <td>{{ reservation.godzina_p }}</td>
                                        <td>{{ reservation.godzina_z }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="reservation-button">
            <form action="{{ url_for('rezerwacja', id=obiekt.id_o) }}" method="GET">
                <input type="hidden" name="obiekt_id" value="{{ obiekt.id_o }}">
                <button type="submit">Zarezerwuj termin</button>
            </form>
        </div>
    </div>
</div>




{% endblock %}